body {
	padding: 50px;
	background-color: #202020;
	font-family: sans-serif;
}

input {
	background-color: #303030;
	color: #f0f0f0;
	height: 2rem;
	padding-left: 0.75rem;
	margin: 0 0.35rem;
	border: none;
	border-radius: 4px;
}

#container {
	display: flex;
	justify-content: center;
}

.header-text {
	color: white;
}

.add-button {
	background-image: linear-gradient(45deg, #ff4e50, #f9d423);
	color: #ffffff;
	text-shadow: 0 0 5px #757575;
	border: none;
	padding: 0 1rem;
	height: 2rem;
	border-radius: 30px;
}

.theList {
	margin-top: 1.5rem;
	list-style: none;
	padding-left: 0;
	width: 100%;
}
.theList li {
	background-image: linear-gradient(45deg, #ff4e50, #f9d423);
	color: #ffffff;
	padding: 15px;
	margin-bottom: 15px;
	border-radius: 5px;
	list-style: none;
}
ul.theList {
	padding: 0;
}
